.ligth-text {
    color: lightgray !important;
}

.card-post {
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.spaced-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card-body {
    padding: 20px 0;
    height: auto;
}

.secondary-color {
    color: orange !important;
}

.text-left {
    text-align: left;
}

