.hide-post {
    /*display: none !important;
    height: 0;
    opacity: 0;
    visibility: hidden;*/
    left: 0;
    top: 0;
    height: 0;
    padding: 0;
    transform: translateX(-100%);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
    align-self: center;
}
.dot-blue {
    background-color: dodgerblue;
}

.dot-gray {
    background-color: lightgray;
}

.card-post {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

