.posts-list {
    overflow-y: scroll;
    max-width: 45%;
    background-color: rgba(0,0,0,.87);
}

.posts-detail {
    display: flex;
    width: 55%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
